/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
html{
     background: url(../imagenes/fondo1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
       // opacity: 0.8;
    
}
        .encuadro{
            float: right;
        background: #c3defe;
        width: 260px;
        height: auto; 
        margin: 5px;
        }
.container-fluid{
  width: 100%;
    min-height: 1200px;
}

.separador{
    height: 100px;
}
.marco{
    width: 50%;
    height: 100%;

}
.muestro{
    position: absolute;
    float: right;
    top: 25px;
    left: 70%;
}
.imgprincipal{
    width: 120%;
    height: 20%;
}
/*#comentario{
  float: right;
}*/
body {
height: 100%;
    margin-top: 0px;
     background-color: #fff;
     opacity: 0.95;
}
.cajita{
/*    background: #0000ff;*/
   height: 40px;
}

#opcion{
      height: 100%;
    margin-top: 0px;
    opacity: 0.8;
    z-index: 99999;
}

.slider{
    position: relative;
    width: 100%;
    height: auto;
}
.costado{
/*        background: #0000ff;*/
    top: 300px;
    height: 600px;
    width: 300px;
}
#slider{
    /*float: right;*/
    background: #f0f0f0; 
/*    top: 200px;
    position: absolute;
    left: 250px;*/
position: relative;
top: 50px;
margin:2px;
   width: 120%;
   height: 40%;
   display:inline-block;
  
}


.cuadros{
/*background: #000000; */
width: 60%;
height: auto; 
position: absolute;
left: 400px;
top: 20px;
}

.dividir{
    position: relative;
/*background: #d11010;*/
}

.masrecetas{
    position: absolute;
    top:500px;
}
.row{
/*    background: #31b0d5;*/
    position: relative;
    top: 100px;
}

.pull-right{
    position: absolute;
    left: 300px;
/*    margin: 0 auto;
   float: left !important*/
}
/*////////////////////////////////////////////////////////////////*/
hr{display:none;
 
}

ul.menuVert1 {
    display: none;
      position: absolute;
left: 350px;
}
ul.menuVert1 li a:link, ul.menuVert1 li a:visited { text-decoration: none; color:#f5f5f5;}
ul.menuVert1 li:hover {background-color: #d11010;}
/*///////////////////////////////////////////////////////////////*/
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  
  .container-fluid{
  width: 100%;
    height: 100%;
   
}
  
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/*//////////////////////////////////////////////////////////////*/
  /* el menú en si mismo */
  .mi-menu  {
    /*border-radius: 5px;*/
    list-style-type: none;
    margin: 0 auto; /* si queremos centrarlo */
    padding: 0;
    /* la altura y su ancho dependerán de los textos */
    height: 40px; 
    width: 200px;
    /* el color de fondo 
    background: #555;
    background: -moz-linear-gradient(#555,#222);
    background: -webkit-linear-gradient(#555,#222);
    background: -o-linear-gradient(#555,#222);
    background: -ms-linear-gradient(#555,#222);
    background: linear-gradient(#555,#222);*/
  }

  
  .mi-menu  br { display:none; }

  /* cada item del menu */
  .mi-menu  li {
    display: block;
    float: left; /* la lista se ve horizontal */
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .mi-menu li a {
    border-left: 1px solid #000;
    border-right: 1px solid #666;
    color: #EEE;
    display: block;
    font-family: Arial;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;*/
    font-size: 18px;
   /* font-weight: bold;*/
    line-height: 28px;
    padding: 0 14px;
    margin: 6px 0;
    text-decoration: none;
    /* animamos el cambio de color de los textos */
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
  }
  /* eliminamos los bordes del primer y el último */
  .mi-menu li:first-child a { border-left: none; }
  .mi-menu li:last-child a{ border-right: none; }
  /* efecto hover cambia el color */
  .mi-menu li:hover > a {/*color: Crimson;*/ }

  /* los submenús */
  .mi-menu ul {
    border-radius: 0 0 5px 5px;
    left: 0;
    margin: 0;
    opacity: 0; /* no son visibles */
    position: absolute;
    top: 40px; /* se ubican debajo del enlace principal */
    /* el color de fondo */
    background: #222;
    background: -moz-linear-gradient(#222,#555);
    background: -webkit-linear-gradient(#22,#555);
    background: -o-linear-gradient(#222,#555);
    background: -ms-linear-gradient(#222,#555);
    background: linear-gradient(#222,#555);
    /* animamos su visibildiad */
    -moz-transition: opacity .25s ease .1s;
    -webkit-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
  }
  /* son visibes al poner el cursor encima */
  .mi-menu li:hover > ul { opacity: 1; }

   /* cada un ode los items de los submenús */
  .mi-menu ul li {
    height: 0; /* no son visibles */
    overflow: hidden;
    padding: 0;
    /* animamos su visibildiad */
    -moz-transition: height .25s ease .1s;
    -webkit-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
  }
  .mi-menu li:hover > ul li {
    height: 36px; /* los mostramos */
    overflow: visible;
    padding: 0;
  }
  .mi-menu ul li a {
    border: none;
    border-bottom: 1px solid #111;
    margin: 0;
    /* el ancho dependerá de los textos a utilizar */
    padding: 5px 20px;
    width: 200px;
  }
  /* el último n otiene un borde */
  .mi-menu ul li:last-child a { border: none; }

  @media (max-width: 700px){
      .slider{
          width: 300px;
      }
      .cuadros{
position: relative;
left: 1px;
width: 40%;
height: auto; 
}
masrecetas{
    position: relative;
    top:auto;
}
#slider{
    background: #f0f0f0; 
position: relative;
top: 50px;
margin:2px;
   width: 100%;
   height: 40%;
   display:inline-block;
  
}
body {
  width: 100%;
}
.costado{
/*        background: #0000ff;*/
    top: 300px;
    height: 600px;
    width: 100%;
}
.slider{
    width: 100%
}
.table-responsive{
   height: 500px;
}

  }
